
    <div class="caixa-total">
        <div class="titulo-frase">
            <p id="taskup">TaskUp</p>
            <p>Use the shortest possible time to create tasks, use all the free features to make the most of them.</p>
        </div>

        <div class="menus">
            <div class="menu-item">
                    <p id="about-i">About</p>
                    <ul>
                        <li>About Us</li>
                        <li>Features</li>
                        <li>News & Articles</li>
                    </ul>
            </div>

            <div class="menu-item">
                    <p>Support Us</p>
                    <ul>
                        <li>FAQ's</li>
                        <li>Contact Us</li>
                        <li>Support Center</li>
                    </ul>
            </div>

            <div class="menu-item">
                <p>Partner</p>
                <ul>
                    <li>Our Partner</li>
                    <li>Subscribe</li>
                </ul>
            </div>
        </div>
    </div>

