<div class="caixa-cinza">
    <div class="caixa-total">
        <app-navbar [navbarButton]="navbarButton" [navButtonRoute]="route"></app-navbar>


        <div class="caixa-conteudo">
            <div class="textos">
                <div class="titulo">
                    <h1>Manage your <strong>tasks</strong> quickly.</h1>
                </div>

                <div class="texto">
                    <p>Use the shortest possible time to create tasks, use all the free features to make the most of
                        them.</p>
                </div>

                <div class="botoes">
                    <button class="btn-1">Learn more</button>
                    <div class="video">
                        <button class="play-button">&#9654;</button>
                    </div>

                </div>

            </div>


            <img src="/assets/blackgirl.png" class="girl">

        </div>




    </div>


</div>


<app-footer></app-footer>